<ion-app page center text-center>
  <ion-header padding center text-center>
      <h2>Medical Reminder App</h2>
  </ion-header>

  <ion-content page center text-center>
      <img src="./assets/patient.png">
      <ion-title>Hi Patient !</ion-title>
      <ion-button> Profile</ion-button>
      <ion-button (click)="goPres()">Manage<br><br>Prescription </ion-button><br>
      <ion-button>Doctor<br><br>Profile</ion-button>
      <ion-button (click)="gohome()">Log Out</ion-button> 
  </ion-content>
</ion-app>
