<ion-app page center text-center>
  <ion-header padding center text-center>
      <h2>Medical Reminder</h2>
  </ion-header>
  <ion-content >
      <img src="./assets/doctor.png">
      <ion-title>Hi Doctor !</ion-title>
      <ion-button> Profile  </ion-button>
      <ion-button (click)="gopatients()"> Patient<br><br>Profile</ion-button><br>
      <ion-button>Create<br><br>Schedule</ion-button>
      <ion-button (click)="gohome()">
          Log out
      </ion-button>
  </ion-content>
</ion-app>
