<ion-header page center text-center>
  <ion-toolbar color="primary">
    <ion-title>Prescription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content page center text-center padding>
  <div class="table">
    <ion-title page center text-center padding>( TÊN BỆNH )</ion-title>
    <ion-grid>
      <ion-row>
          <ion-col class="tb_title" >Tên Thuốc</ion-col>
          <ion-col class="tb_title"> Số Lượng</ion-col>
          <ion-col class="tb_title" >Hình Ảnh</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>  
            Panadol 
          </ion-col>
          <ion-col>
            10 viên
            <br>
            <br>
            <i>( 3 lần/ngày, mỗi lần 1 viên )</i>
          </ion-col>
          <ion-col></ion-col>
      </ion-row>
      <ion-row>
          <ion-col> Digoxin</ion-col>
          <ion-col> 
            5 viên
            <br>
            <br>
            <i>( 3 lần/ngày, mỗi lần 1 viên )</i>
          </ion-col> 
          <ion-col></ion-col>
      </ion-row>
      <ion-row>
          <ion-col>Diovan </ion-col>
          <ion-col>
            20 viên
            <br>
            <br>
            <i>( 3 lần/ngày, mỗi lần 1 viên )</i>
          </ion-col>
          <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
