
ion-content{
    margin: 20px;
}
 ion-row, ion-col{
    border: 1px solid black;
}
.tb_title{
    width:33%;
    background-color: #0033ff;
    color: white;
}

table{
    width:100%;
    height:auto;
  
}
ion-grid{
    background-color: lightblue;
}