
ion-title{
    margin-bottom: 25px;
    margin-top:20px;
}
.button{
    width:120px;
    height: 55px;
    background-color: #0033ff;
    margin:15px;
    border-radius: 5px;
    text-shadow: black;
    text-align: center;
    
}
ion-header {
    width: 100%;
    height: 60px;
    background-color: #0033ff;
    
}
h2{
    width: 100%;
    color:white;
    margin: 0 auto;
}
img{
    width: 150px;
    height: 150px;
    margin-top:30px
}